---
http_interactions:
- request:
    method: post
    uri: https://api.bitso.com/v2/balance
    body:
      encoding: US-ASCII
      string: key=dTNlkqDYJZ&nonce=14357911850743&signature=CD19FE44228B4FD2A48AA79786990718653D1F6FFF74462C0A0EF074F776C346
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bs:
      - bx
    body:
      encoding: UTF-8
      string: '{"btc_available":"0.00479943","btc_reserved":"0.00000000","btc_balance":"0.00479943","mxn_available":"0.00","mxn_reserved":"0.00","mxn_balance":"0.00","fee":"1.0000"}'
  recorded_at: Wed, 01 Jul 2015 22:53:05 GMT
- request:
    method: post
    uri: https://api.bitso.com/v2/balance
    body:
      encoding: US-ASCII
      string: key=dTNlkqDYJZ&nonce=14357911857497&signature=BFFB2AFB39DBF93CFAD200A93FB938A7CA742C62B14F2F74BDDC4D474C4EF515
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bs:
      - bx
    body:
      encoding: UTF-8
      string: '{"btc_available":"0.00479943","btc_reserved":"0.00000000","btc_balance":"0.00479943","mxn_available":"0.00","mxn_reserved":"0.00","mxn_balance":"0.00","fee":"1.0000"}'
  recorded_at: Wed, 01 Jul 2015 22:53:06 GMT
recorded_with: VCR 2.8.0
