---
http_interactions:
- request:
    method: get
    uri: https://api.bitso.com/v2/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bs:
      - bx
    body:
      encoding: UTF-8
      string: '{"high":"4145.00","last":"4094.94","timestamp":"1435797725","bid":"4000.01","vwap":"4030.27","volume":"58.88002335","low":"4000.00","ask":"4094.94"}'
  recorded_at: Thu, 02 Jul 2015 00:42:06 GMT
- request:
    method: get
    uri: https://api.bitso.com/v2/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Bs:
      - bx
    body:
      encoding: UTF-8
      string: '{"high":"4145.00","last":"4094.94","timestamp":"1435797726","bid":"4000.01","vwap":"4030.27","volume":"58.88002335","low":"4000.00","ask":"4094.94"}'
  recorded_at: Thu, 02 Jul 2015 00:42:07 GMT
recorded_with: VCR 2.8.0
